@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: #000000;
  overflow-x: hidden;
  color: #fff;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

input,
textarea {
  outline: 1px solid black;
  width: 100%;
}

img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

li {
  list-style: none;
}

.typing-indicator {
  display: flex;
  align-items: center;
  margin-top: 8px;
  position: relative;
}

.message-cloud {
  width: max-content;
  height: max-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.typing-indicator::before {
  content: "";
  position: absolute;
  bottom: 4px;
  transform: rotate(240deg);
  left: -6px;
  margin-top: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent white;
}

.dot {
  background-color: #356ed0;
  border-radius: 50%;
  animation: blink 1s infinite;
}

.arrow {
  position: absolute;
  top: 0;
  left: -12px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 12px 6px 0;
  border-color: transparent #f5f5f5 transparent transparent;
}

.dot-1 {
  animation-delay: 0s;
}

.dot-2 {
  animation-delay: 0.2s;
  margin: 0 3px;
}

.dot-3 {
  animation-delay: 0.4s;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
  background-color: #2b2b2b;
  width: 12px;
}

::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: #6b6b6b;
  border: 3px solid #2b2b2b;
}

::-webkit-scrollbar-thumb:focus,
*::-webkit-scrollbar-thumb:focus {
  background-color: #959595;
}

::-webkit-scrollbar-thumb:active,
*::-webkit-scrollbar-thumb:active {
  background-color: #959595;
}

::-webkit-scrollbar-thumb:hover,
*::-webkit-scrollbar-thumb:hover {
  background-color: #959595;
}

::-webkit-scrollbar-corner,
*::-webkit-scrollbar-corner {
  background-color: #2b2b2b;
}
